<div class="container-full" id="body-user">
<div class="container">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<!-- standard rails info above -->

    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock" style="font-size: 12px;"></span> Edit <%= resource_name.to_s.humanize %></div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                   
                        <div class="form-group">
                          <div class="col-md-3">
                          <%= f.label :name %>
                          </div>
                          <div class="col-md-9">
                          <%= f.text_field :name, class: "form-control", placeholder: "Maynard Jackson" %>
                          </div>
                        </div>
                   
                        <div class="form-group">
                          <div class="col-md-3">
                          <%= f.label :email %>
                          </div>
                          <div class="col-md-9">
                          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "you@example.com" %>
                          </div>
                        </div>


                          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                          <% end %>

                        <div class="form-group">
                          <div class="col-md-3">
                            <%= f.label :password %>
                            <% if @minimum_password_length %>
                            
                            <% end %><br />
                          </div>
                          <div class="col-md-9">
                            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Leave blank if you don't want to change it" %>
                            <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-3">
                             
                          </div>
                          <div class="col-md-9">
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm: Leave blank if you don't want to change it" %>
                          </div>
                        </div>

                          <div class="form-group">
                            <br><hr><br>
                            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                          </div>
  
                        <div class="form-group">
                          <div class="col-md-3">
                             
                          </div>
                          <div class="col-md-9">
                            <div class="actions">
                                <br /><%= f.submit "Update", class: 'btn btn-success' %>
                              </div>

                          </div>
                        </div>

                        <% end %>
    
  

                    <!-- <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/>
                                    Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success btn-sm">
                                Sign in</button>
                                 <button type="reset" class="btn btn-default btn-sm">
                                Reset</button>
                        </div>
                    </div> -->
                    </form>
                </div>
                <div class="panel-footer">
                    
                      
                      Want to cancel? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger form-control" %> 
                      <%= link_to "Go Back", :back %>
                    
                    
                </div>
        </div>
    </div>

</div>

</div>
</div>
