<div class="container-full" id="body-user">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="row">
        <div class="col-md-5 col-md-offset-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock" style="font-size: 12px;"></span> Sign Up</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                   
                        <div class="form-group">
                          <div class="col-md-3">
                          <%= f.label :name %>
                          </div>
                          <div class="col-md-9">
                          <%= f.text_field :name, class: "form-control", placeholder: "Maynard Jackson" %>
                          </div>
                        </div>
                   
                        <div class="form-group">
                          <div class="col-md-3">
                          <%= f.label :email %>
                          </div>
                          <div class="col-md-9">
                          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "you@example.com" %>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-3">
                            <%= f.label :password %>
                            <% if @minimum_password_length %>
                            
                            <% end %><br />
                          </div>
                          <div class="col-md-9">
                            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter Password" %>
                            <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-3">
                             
                          </div>
                          <div class="col-md-9">
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
                          </div>
                        </div>
  
                        <div class="form-group">
                          <div class="col-md-3">
                             
                          </div>
                          <div class="col-md-9">
                            <div class="actions">
                                <br /><%= f.submit "Sign up", :class => 'btn btn-success' %>
                              </div>

                          </div>
                        </div>

                          

                          <div class="form-group">
                            <%= f.hidden_field :role, value: "guest" %>
                          </div>

                        <% end %>
    
  

                    <!-- <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/>
                                    Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success btn-sm">
                                Sign in</button>
                                 <button type="reset" class="btn btn-default btn-sm">
                                Reset</button>
                        </div>
                    </div> -->
                    </form>
                </div>
                <div class="panel-footer">
                    Already Registred? <%= render "devise/shared/links" %></div>
            </div>
        </div>
    </div>
</div>


