<div class="container-full" id="body-user">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row">
        <div class="col-md-5 col-md-offset-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock" style="font-size: 12px;"></span> Log In</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                   
                        <div class="form-group">
                          <div class="col-md-3">
                          <%= f.label :email %>
                          </div>
                          <div class="col-md-9">
                          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "you@example.com" %>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-3">
                            <%= f.label :password %>
                            
                            
                            
                          </div>
                          <div class="col-md-9">
                            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter Password" %>
                          </div>
                        </div>

                        <% if devise_mapping.rememberable? -%>
                        <div class="form-group">
                          <div class="col-md-6 col-md-offset-3">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                          
                        <% end %>
                          
                        </div>
  
                        <div class="form-group">
                          <div class="col-md-3">
                             
                          </div>
                          <div class="col-md-9">
                            <div class="actions">
                                <%= f.submit "Log In", :class => 'btn btn-success' %>
                              </div>

                          </div>
                        </div>

                          

                          <div class="form-group">
                            <%= f.hidden_field :role, value: "guest" %>
                          </div>

                        <% end %>
    
  

                    <!-- <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/>
                                    Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success btn-sm">
                                Sign in</button>
                                 <button type="reset" class="btn btn-default btn-sm">
                                Reset</button>
                        </div>
                    </div> -->
                    </form>
                </div>
                <div class="panel-footer">
                    <%= render "devise/shared/links" %></div>
            </div>
        </div>
    </div>
</div>
