<%= form_with(model: upload, local: true) do |form| %>
  <% if upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    
    <%= form.text_field :title, id: :upload_title, placeholder: "Enter Title i.e. Family Reunion Photos", class: "form-control" %>
  </div>
  
<!-- ****** drag & drop ******** -->
  <div class="form-group filesg">
    <label>Upload Photos </label>
    <!-- <input type="file" class="form-control" multiple=""> -->
    <%= form.file_field :photos, multiple: true, class: "form-control" %>
  </div>


  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>

              

<% end %>
