<%= form_with(model: upload, local: true) do |form| %>
  <% if upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    
    <%= form.text_field :title, id: :upload_title, placeholder: "Enter Bucket Name i.e. Family Reunion Photos", class: "form-control" %>
    </div>
  
<!-- ****** drag & drop ******** -->
  <div class="form-group filesg">
    <label>Upload Photos </label>
    <%= form.file_field :photos, multiple: true, class: "form-control" %>
  </div>
<!-- ******** end drag & drop ********* -->

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>

              

<% end %>
