<p id="notice"><%= notice %></p>

<!-- *************************** -->
       <div class="container">
          <div class="row">
               <div class="col-md-7 col-xs-4">
                    <div class="panel">

                    <%= image_tag @product.watermarked_image, class: "img-responsive" %>

                </div>
                </div>
                <div class="col-md-5 col-xs-5" style="border:0px solid gray">
                    <!-- title -->
                    <h3><%= @product.title.titlecase %></h3>  
                    <hr>
                    <h6 class="title-price"><small>Category</small></h6>  
                    <h3 style="margin-top:0px;"><%= @product.category.name %></h3>
                    <hr>
                    <!-- price -->
                    <h6 class="title-price"><small>PRICE</small></h6>
                    <h3 style="margin-top:0px;"><%= number_to_currency @product.price %></h3>
                    <hr>

<!-- add to cart button  -->
                    <%= form_tag add_to_cart_path do %>
                        <%= hidden_field_tag :product_id, @product.id %>
                        <%= hidden_field_tag :quantity, '1', class: "form-control" %>
                        <%= submit_tag "Add to Cart", class: "btn btn-success form-control" %>
                      <% end %>

                    <br />

                    <div style="width:100%;border-top:1px solid silver">
                        <h4 style="">
                            <span class="h4">Description: </span>                      
                            <span class="h4"><%= @product.description %></span>
                            <p>
                              <strong>by:</strong>
                              <em><%= @product.seller.name %></em>
                            </p>
                            <p>
                              <strong>Sku:</strong>
                              <%= @product.sku %>
                            </p>                            
                        </h4>
                        
                    </div>
                    <!-- edit and back section -->
                    <hr>
                    <%= link_to 'Edit', edit_product_path(@product) %> |
                    <%= link_to 'Back', root_path %>
                    
                    <% if can? :manage, Product %>
                    |
                    <%= link_to 'Back to Admin', products_path %>
                    <% end %>
                </div>                              
 
            </div>
        </div>
